<div class="card" [ngClass]="{'card-active':active}">
    <div class="d-flex">
        <input type="checkbox">
        <div class="card-body-wrap">
            <div>
                <button type="button"><img src="assets/images/up-arrow.svg" class="img img-up">F'CAST STAB.</button>
                <button type="button"><img src="assets/images/up-arrow.svg" class="img">F'CAST ACC.</button>
            </div>
            <p class="project-text">{{data.projectName}}</p>
        </div>
    </div>
    <div>
        <img src="assets/images/mail.svg" alt="mail" class="img img-mail">
    </div>
</div>
<hr>